body
{
background-color: #aeaeae;
margin: 0; 
padding: 0;
}

#header
{
height: 100px;
background-color: #000;
border: 0;
background-repeat:repeat-x;
}

#logo
{
background-image:url('../images/logo.jpg');
background-repeat:no-repeat;
height: 96px;
width: 200px;
float: left;
}

#headertext
{
height: 45px;
font: Geneva, Helvetica, sans-serif;
font-weight: bold;
color: white;
font-size: 30px;
padding-top:30px;
}

